In [1]:
import pandas as pd

In [2]:
filepath = f'../data/mock_n_3_data'

In [13]:
patients_df = pd.read_csv(filepath + f'/mock_clinical_patients_data_n_3.txt', sep='\t')
samples_df = pd.read_csv(filepath + f'/mock_clinical_samples_data_n_3.txt', sep='\t')
mutations_df = pd.read_csv(filepath + f'/mock_mutations_data_n_3.txt', sep='\t')
cna_df = pd.read_csv(filepath + f'/mock_CNA_data_n_3.txt', sep='\t')

In [14]:
patients_df

    PATIENT_ID   SEX PRIMARY_RACE                 ETHNICITY CENTER
0  GENIE-P-001  Male        White  Non-Spanish/non-Hispanic    MSK
1  GENIE-P-002  Male        White  Non-Spanish/non-Hispanic    MSK
2  GENIE-P-003  Male        White  Non-Spanish/non-Hispanic    MSK

In [15]:
PATIENT_ID = 'GENIE-P-001'

In [16]:
SEX = 'Male'

In [17]:
cna_df.set_index('Hugo_Symbol', inplace=True)

In [18]:
cna_df.dropna(subset=['GENIE-S-001'], inplace=True)

In [19]:
cna_df

             GENIE-S-001  GENIE-S-002  GENIE-S-003
Hugo_Symbol
ABL1                 0.0          0.0          0.0
ACVR1                0.0          0.0          0.0
AGO2                 0.0          0.0          0.0
AKT1                 0.0          0.0          0.0
AKT2                 0.0          0.0          0.0
...                  ...          ...          ...
XRCC2                0.0          0.0          0.0
YAP1                 0.0          0.0          0.0
YES1                 0.0          0.0          0.0
ZFHX3                0.0          0.0          0.0
ZRSR2                0.0          0.0          0.0

[468 rows x 3 columns]

In [10]:
cna_df = cna_df[cna_df['GENIE-S-001'] != 0]

In [20]:
cna_df = cna_df.drop('GENIE-S-002', axis=1)
cna_df = cna_df.drop('GENIE-S-003', axis=1)

In [21]:
cna_df

             GENIE-S-001
Hugo_Symbol
ABL1                 0.0
ACVR1                0.0
AGO2                 0.0
AKT1                 0.0
AKT2                 0.0
...                  ...
XRCC2                0.0
YAP1                 0.0
YES1                 0.0
ZFHX3                0.0
ZRSR2                0.0

[468 rows x 1 columns]

In [22]:
cna_input_string = ''

for index, row in cna_df.iterrows():
    cna_input_string += index + ' ' + str(int(row['GENIE-S-001'])) + ' | '

In [23]:
cna_input_string = cna_input_string[:-3]

In [24]:
cna_input_string

'ABL1 0 | ACVR1 0 | AGO2 0 | AKT1 0 | AKT2 0 | AKT3 0 | ALK 0 | ALOX12B 0 | AMER1 0 | ANKRD11 0 | APC 0 | AR 0 | ARAF 0 | ARID1A 0 | ARID1B 0 | ARID2 0 | ARID5B 0 | ASXL1 0 | ASXL2 0 | ATM 0 | ATR 0 | ATRX 0 | AURKA 0 | AURKB 0 | AXIN1 0 | AXIN2 0 | AXL 0 | B2M 0 | BABAM1 0 | BAP1 0 | BARD1 0 | BBC3 0 | BCL10 0 | BCL2 0 | BCL2L1 0 | BCL2L11 0 | BCL6 0 | BCOR 0 | BIRC3 0 | BLM 0 | BMPR1A 0 | BRAF 0 | BRCA1 0 | BRCA2 0 | BRD4 0 | BRIP1 2 | BTK 0 | CALR 0 | CARD11 0 | CARM1 0 | CASP8 0 | CBFB 0 | CBL 0 | CCND1 0 | CCND2 0 | CCND3 0 | CCNE1 0 | CD274 0 | CD276 0 | CD79A 0 | CD79B 0 | CDC42 0 | CDC73 0 | CDH1 0 | CDK12 0 | CDK4 0 | CDK6 0 | CDK8 0 | CDKN1A 0 | CDKN1B 0 | CDKN2A 0 | CDKN2B 0 | CDKN2C 0 | CEBPA 0 | CENPA 0 | CHEK1 0 | CHEK2 0 | CIC 0 | CREBBP 0 | CRKL 2 | CRLF2 0 | CSDE1 0 | CSF1R 0 | CSF3R 0 | CTCF 0 | CTLA4 0 | CTNNB1 0 | CUL3 0 | CXCR4 0 | CYLD 0 | CYSLTR2 0 | DAXX 0 | DCUN1D1 0 | DDR2 0 | DICER1 0 | DIS3 0 | DNAJB1 0 | DNMT1 0 | DNMT3A 0 | DNMT3B 0 | DOT1L 0 | DROSHA 0 | DUSP4 0 | E2F3 0 | EED 0 | EGFL7 0 | EGFR 0 | EIF1AX 0 | EIF4A2 0 | EIF4E 0 | ELF3 0 | EP300 0 | EPAS1 0 | EPCAM 0 | EPHA3 0 | EPHA5 0 | EPHA7 0 | EPHB1 0 | ERBB2 0 | ERBB3 0 | ERBB4 0 | ERCC2 0 | ERCC3 0 | ERCC4 0 | ERCC5 0 | ERF 0 | ERG 0 | ERRFI1 0 | ESR1 0 | ETV1 0 | ETV6 0 | EZH1 0 | EZH2 0 | FAM175A 0 | FAM46C 0 | FAM58A 0 | FANCA 0 | FANCC 0 | FAT1 0 | FBXW7 0 | FGF19 0 | FGF3 0 | FGF4 0 | FGFR1 0 | FGFR2 0 | FGFR3 0 | FGFR4 0 | FH 0 | FLCN 0 | FLT1 0 | FLT3 0 | FLT4 0 | FOXA1 0 | FOXL2 0 | FOXO1 0 | FOXP1 0 | FUBP1 0 | FYN 0 | GATA1 0 | GATA2 0 | GATA3 0 | GLI1 0 | GNA11 0 | GNAQ 0 | GNAS 0 | GPS2 0 | GREM1 0 | GRIN2A 0 | GSK3B 0 | H3F3A 0 | H3F3B 0 | H3F3C 0 | HGF 0 | HIST1H1C 0 | HIST1H2BD 0 | HIST1H3A 0 | HIST1H3B 0 | HIST1H3C 0 | HIST1H3D 0 | HIST1H3E 0 | HIST1H3F 0 | HIST1H3G 0 | HIST1H3H 0 | HIST1H3I 0 | HIST1H3J 0 | HIST2H3C 0 | HIST2H3D 0 | HIST3H3 0 | HLA-A 0 | HLA-B 0 | HNF1A 0 | HOXB13 0 | HRAS 0 | ICOSLG 0 | ID3 0 | IDH1 0 | IDH2 0 | IFNGR1 0 | IGF1 0 | IGF1R 0 | IGF2 0 | IKBKE 0 | IKZF1 0 | IL10 0 | IL7R 0 | INHA 0 | INHBA 0 | INPP4A 0 | INPP4B 0 | INPPL1 0 | INSR 0 | IRF4 0 | IRS1 0 | IRS2 0 | JAK1 0 | JAK2 0 | JAK3 0 | JUN 0 | KDM5A 0 | KDM5C 0 | KDM6A 0 | KDR 0 | KEAP1 0 | KIT 0 | KLF4 0 | KMT2A 0 | KMT2B 0 | KMT2C 0 | KMT2D 0 | KNSTRN 0 | KRAS 0 | LATS1 0 | LATS2 0 | LMO1 0 | LYN 0 | MALT1 0 | MAP2K1 0 | MAP2K2 0 | MAP2K4 0 | MAP3K1 0 | MAP3K13 0 | MAP3K14 0 | MAPK1 2 | MAPK3 0 | MAPKAP1 0 | MAX 0 | MCL1 0 | MDC1 0 | MDM2 0 | MDM4 0 | MED12 0 | MEF2B 0 | MEN1 0 | MET 0 | MGA 0 | MITF 0 | MLH1 0 | MPL 0 | MRE11A 0 | MSH2 0 | MSH3 0 | MSH6 0 | MSI1 0 | MSI2 0 | MST1 0 | MST1R 0 | MTOR 0 | MUTYH 0 | MYC 0 | MYCL 0 | MYCN 0 | MYD88 0 | MYOD1 0 | NBN 0 | NCOA3 0 | NCOR1 0 | NEGR1 0 | NF1 0 | NF2 0 | NFE2L2 0 | NFKBIA 0 | NKX2-1 0 | NKX3-1 0 | NOTCH1 0 | NOTCH2 0 | NOTCH3 0 | NOTCH4 0 | NPM1 0 | NRAS 0 | NSD1 0 | NTHL1 0 | NTRK1 0 | NTRK2 0 | NTRK3 0 | NUF2 0 | NUP93 0 | PAK1 0 | PAK7 0 | PALB2 0 | PARK2 0 | PARP1 0 | PAX5 0 | PBRM1 0 | PDCD1 0 | PDCD1LG2 0 | PDGFRA 0 | PDGFRB 0 | PDPK1 0 | PGR 0 | PHOX2B 0 | PIK3C2G 0 | PIK3C3 0 | PIK3CA 0 | PIK3CB 0 | PIK3CD 0 | PIK3CG 0 | PIK3R1 0 | PIK3R2 0 | PIK3R3 0 | PIM1 0 | PLCG2 0 | PLK2 0 | PMAIP1 0 | PMS1 0 | PMS2 0 | PNRC1 0 | POLD1 0 | POLE 0 | PPARG 0 | PPM1D 0 | PPP2R1A 0 | PPP4R2 0 | PPP6C 0 | PRDM1 0 | PRDM14 0 | PREX2 0 | PRKAR1A 0 | PRKCI 0 | PRKD1 0 | PTCH1 0 | PTEN 0 | PTP4A1 0 | PTPN11 0 | PTPRD 0 | PTPRS 0 | PTPRT 0 | RAB35 0 | RAC1 0 | RAC2 0 | RAD21 0 | RAD50 0 | RAD51 0 | RAD51B 0 | RAD51C 0 | RAD51D 0 | RAD52 0 | RAD54L 0 | RAF1 0 | RARA 0 | RASA1 0 | RB1 0 | RBM10 0 | RECQL 0 | RECQL4 0 | REL 0 | RET 0 | RFWD2 0 | RHEB 0 | RHOA 0 | RICTOR 0 | RIT1 0 | RNF43 0 | ROS1 0 | RPS6KA4 0 | RPS6KB2 0 | RPTOR 0 | RRAGC 0 | RRAS 0 | RRAS2 0 | RTEL1 0 | RUNX1 0 | RXRA 0 | RYBP 0 | SDHA 0 | SDHAF2 0 | SDHB 0 | SDHC 0 | SDHD 0 | SESN1 0 | SESN2 0 | SESN3 0 | SETD2 0 | SETD8 0 | SF3B1 0 | SH2B3 0 | SH2D1A 0 | SHOC2 0 | SHQ1 0 | SLX4 0 | SMAD2 0 | SMAD3 0 | SMAD4 0 | SMARCA4 0 | SMARCB1 0 | SMARCD1 0 | SMO 0 | SMYD3 0 | SOCS1 0 | SOS1 0 | SOX17 0 | SOX2 0 | SOX9 0 | SPEN 0 | SPOP 2 | SPRED1 0 | SRC 0 | SRSF2 0 | STAG2 0 | STAT3 0 | STAT5A 0 | STAT5B 0 | STK11 0 | STK19 0 | STK40 0 | SUFU 0 | SUZ12 0 | SYK 0 | TAP1 0 | TAP2 0 | TBX3 0 | TCEB1 0 | TCF3 0 | TCF7L2 0 | TEK 0 | TERT 0 | TET1 0 | TET2 0 | TGFBR1 0 | TGFBR2 0 | TMEM127 0 | TMPRSS2 0 | TNFAIP3 0 | TNFRSF14 0 | TOP1 0 | TP53 0 | TP53BP1 0 | TP63 0 | TRAF2 0 | TRAF7 0 | TSC1 0 | TSC2 0 | TSHR 0 | U2AF1 0 | UPF1 0 | VEGFA 0 | VHL 0 | VTCN1 0 | WHSC1 0 | WHSC1L1 0 | WT1 0 | WWTR1 0 | XIAP 0 | XPO1 0 | XRCC2 0 | YAP1 0 | YES1 0 | ZFHX3 0 | ZRSR2 0'

In [25]:
mutations_df

,Hugo_Symbol,Entrez_Gene_Id,Center,NCBI_Build,Chromosome,Start_Position,End_Position,Strand,Variant_Classification,Variant_Type,...,ExAC_AC_AN_Adj,ExAC_AC_AN,ExAC_AC_AN_AFR,ExAC_AC_AN_AMR,ExAC_AC_AN_EAS,ExAC_AC_AN_FIN,ExAC_AC_AN_NFE,ExAC_AC_AN_OTH,ExAC_AC_AN_SAS,ExAC_FILTER
0,KRAS,3845,MSK,GRCh37,12,25398284,25398284,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TP53,7157,MSK,GRCh37,17,7578176,7578176,+,Splice_Site,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KDR,3791,MSK,GRCh37,4,55979551,55979551,+,Missense_Mutation,SNP,...,2/106136,2/106208,1/9066,0/11168,0/7864,0/6614,0/54324,0/694,1/16406,PASS
3,RFWD2,64326,MSK,GRCh37,1,175916343,175916343,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CD79B,974,MSK,GRCh37,17,62008712,62008712,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
5,RTEL1,51750,MSK,GRCh37,20,62326183,62326183,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,EGFR,1956,MSK,GRCh37,7,55242465,55242479,+,In_Frame_Del,DEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,TP53,7157,MSK,GRCh37,17,7578404,7578404,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,RB1,5925,MSK,GRCh37,13,49039399,49039399,+,Nonsense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ERBB2,2064,MSK,GRCh37,17,37868208,37868208,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,SPOP,8405,MSK,GRCh37,17,47685288,47685288,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ATR,545,MSK,GRCh37,3,142241684,142241684,+,Splice_Site,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,CDKN1A,1026,MSK,GRCh37,6,36651880,36651881,+,Frame_Shift_Ins,INS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,ESR1,2099,MSK,GRCh37,6,152415520,152415520,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
mutation_columns = ['Tumor_Sample_Barcode', 'Hugo_Symbol', 'Chromosome', 'Start_Position', 'Reference_Allele', 'Tumor_Seq_Allele2']

In [27]:
for col in mutations_df.columns:
    if col not in mutation_columns:
        mutations_df = mutations_df.drop(col, axis=1)

In [28]:
mutations_df = mutations_df[mutations_df['Tumor_Sample_Barcode'] == 'GENIE-S-001']

In [29]:
mutations_df

,Hugo_Symbol,Chromosome,Start_Position,Reference_Allele,Tumor_Seq_Allele2,Tumor_Sample_Barcode
0,KRAS,12,25398284,C,A,GENIE-S-001
1,TP53,17,7578176,C,A,GENIE-S-001
2,KDR,4,55979551,C,T,GENIE-S-001
3,RFWD2,1,175916343,C,G,GENIE-S-001
4,CD79B,17,62008712,C,A,GENIE-S-001
5,RTEL1,20,62326183,G,A,GENIE-S-001

In [42]:
mutation_str = ''
for i, row in mutations_df.iterrows():
    mutation_str += row['Hugo_Symbol'] + ', chr' + str(row['Chromosome']) + ', ' + str(row['Start_Position']) + ', ' + row['Reference_Allele'] + ', ' + row['Tumor_Seq_Allele2'] + ' | '

In [43]:
mutation_str = mutation_str[:-2]

In [44]:
mutation_str

'KRAS, chr12, 25398284, C, A | TP53, chr17, 7578176, C, A | KDR, chr4, 55979551, C, T | RFWD2, chr1, 175916343, C, G | CD79B, chr17, 62008712, C, A | RTEL1, chr20, 62326183, G, A '

In [36]:
samples_df = samples_df[samples_df['PATIENT_ID'] == 'GENIE-P-001']

In [37]:
samples_df

,PATIENT_ID,SAMPLE_ID,AGE_AT_SEQ_REPORT,ONCOTREE_CODE,SAMPLE_TYPE,SEQ_ASSAY_ID,CANCER_TYPE,CANCER_TYPE_DETAILED,SAMPLE_TYPE_DETAILED
0,GENIE-P-001,GENIE-S-001,56,PAAD,Metastasis,MSK-IMPACT468,Pancreatic Cancer,Pancreatic Adenocarcinoma,Metastasis site unspecified

In [38]:
samples_df['AGE_AT_SEQ_REPORT']

0    56
Name: AGE_AT_SEQ_REPORT, dtype: int64

In [71]:
AGE = 56
PATIENT_ID = 'GENIE-P-001'
SEX = 'Male'
MUTATION_STR = 'KRAS 12 25398284 C A| TP53 17 7578176 C A| KDR 4 55979551 C T| RFWD2 1 175916343 C G| CD79B 17 62008712 C A| RTEL1 20 62326183 G A'
CNA_STR = 'BRIP1 2 | CRKL 2 | MAPK1 2 | SPOP 2'

In [45]:
all_features = pd.read_csv('../data/onconpc_features.csv').drop('Unnamed: 0', axis=1).columns.tolist()

In [47]:
len(all_features)

903